@model MvcContactos.Models.Contactos

@{
    ViewData["Title"] = "Eliminar Contacto";
}

<h2>Eliminar Contacto</h2>

<h3>Esta seguro que quiere borrar este Contacto?</h3>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading detalle">
                <h4>Contactos</h4>
            </div>
            <dl class="dl-horizontal panel-body ce">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Apellido):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Apellido)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Email):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Telefono):
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>
            </dl>
        </div>
    </div>
    </div>
<form class="form-group" asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Borrar" class="btn btn-danger"/>
    <a class="btn btn-default" asp-action="Index"><span class="glyphicon glyphicon-arrow-left"></span> Volver Lista Contactos</a>
</form>
